<mat-card class="login">
    <mat-card-title>Super Clinic</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submit()" class="login__form">
            <div class="login__form-field-wrapper">
                <mat-form-field>
                    <mat-label>Enter your username</mat-label>
                    <input type="text" matInput placeholder="Username" [formControlName]="'username'">
                    <mat-error>Username is required</mat-error>
                </mat-form-field>
            </div>
            <div class="login__form-field-wrapper">
                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input type="password" matInput placeholder="Password" [formControlName]="'password'">
                    <mat-error>Password is required</mat-error>
                </mat-form-field>
            </div>
            <div class="login__submit-wrapper">
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" [loading]="isLoging$ | ngrxPush">Login</button>
            </div>
            
            <mat-error *ngIf="hasError$ | ngrxPush">Invalid username or password</mat-error>
            <br/>
            <mat-error>Navigating don't work. Please navigate through the url.</mat-error>
        </form>
    </mat-card-content>
</mat-card>
