@use 'vendors'
    
.patient-file
    @include vendors.spread(width, 90vw, 50vw)

    &__content
        display: grid
        grid-auto-flow: row
        justify-content: unset
        overflow: auto
        @include vendors.spread(gap, 20px, 40px)
        hr
            margin: 0
            border: 0
            background-image: repeating-linear-gradient(to right, #555 0%, #555 50%, transparent 50%, transparent 100%)
            height: 1px
            background-size: 60px 100%
    &__main-actions
        display: grid
        grid-auto-flow: column
        justify-items: center
        @include vendors.media('<=xs')
            grid-auto-flow: row
        & > div
            display: flex
            flex-wrap: wrap
            gap: 10px
