<mat-card class="patient-file">
    <mat-card-title>Patient File</mat-card-title>
    <mat-card-content class="patient-file__content">
        <app-patient-file-info [patient]="patient"></app-patient-file-info>
        <app-patient-file-meetings></app-patient-file-meetings>
        <hr/>
        <div class="patient-file__screens">
            <button mat-raised-button color="primary">Personal Information</button>
            <div>
                <button mat-raised-button color="primary">Diet questionnaire</button>
                <button mat-raised-button color="primary">Health questionnaire</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>